/* 可変レイアウト
------------------------------------------ */
html {
	font-size: calc(10 * 100vw / 375);
}

@media (min-width:768px) {
	html {
		font-size: calc(10 * 100vw / 1200);
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 62.5%;
	}
}

/* ベースのスタイル
------------------------------------------ */
body {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	line-height: 1.75;
	color: #333;
}

a {
	color: #333;
	text-decoration: none;
}

a,
a:hover,
a i {
	transition: all 0.3s;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

ul {
	list-style: none;
}

/* ヘッダー
------------------------------------------ */
.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	box-shadow: 0 0 0.075rem 0 #000;
}

/* ロゴ */
.header__logo {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	line-height: 0;
	margin-left: 1.7rem;
	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
}

/* ハンバーガーボタン */
.hamburger__button {
	width: 7rem;
	height: 7rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: .7rem;
	background-color: #005BAC
}

@media (min-width: 768px) {
	.hamburger__button {
		display: none;
	}
}


.hamburger__button-bar {
	width: 3rem;
	height: .4rem;
	background-color: #fff;
}

/* ハンバーガーメニュー
------------------------------------------ */


@media (min-width: 768px) {
	.hamburger-menu {
		background-color: #005BAC;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

@media (max-width: 767.9px) {
	.hamburger-menu {
		position: fixed;
		display: flex;
		flex-direction: column;
		top: 7rem;
		background-color: #005BAC;
		transition: all 0.6s;
		opacity: 0;
		left: 0rem;
		right: 0rem;
		visibility: hidden;
		align-items: center;
	}
}

.hamburger-menu__list-group>li>a {
	color: #fff;
}

.hamburger-menu__list-group--text {
	display: flex;
	flex-direction: row;
	border-bottom: 0.1rem solid #7FADD5;
}

/* 開いている状態 */
.hamburger-menu_active {
	opacity: 1;
	visibility: visible;
}



/* カバー
------------------------------------------ */
.cover {
	margin-top: 7rem;
	position: relative;
	margin-bottom: 2.4rem;
}

.cover>picture>img {
	width: 100%;
}

.cover__container {
	display: flex;
	flex-direction: row;
	row-gap: 0.4375rem;
	position: absolute;
	bottom: 59.1%;
	left: 4.3%;
}

.cover__container>img {
	width: 2.4rem;
	height: auto;
}

.cover__text-01 {
	font-family: "Noto Sans JP", serif;
	font-size: 1.1rem;
	font-weight: 400;
	color: #333;
	margin-bottom: 0.5rem;
}

.cover__text-02 {
	font-family: "Poppins", serif;
	font-weight: 800;
	font-style: italic;
	font-size: 2.5rem;
	color: #F11F8D;
	text-align: center;
	line-height: 1;
}

.cover__text-03 {
	font-family: "Poppins", serif;
	font-weight: 800;
	font-style: italic;
	font-size: 3.6rem;
	color: #F11F8D;
	text-align: center;
}

.cover__text-04 {
	font-family: "Noto Sans JP", serif;
	font-weight: 400;
	font-size: 1.4rem;
	color: #333;
	margin-bottom: .3rem;
}

.cover__text-05 {
	font-family: "Noto Sans JP", serif;
	font-weight: 900;
	font-size: 2.5rem;
	color: #005BAC;
	line-height: 1;
	margin-bottom: 1.2rem;
}

.cover__text-06 {
	font-family: "Noto Sans JP", serif;
	font-weight: 900;
	font-size: 2.5rem;
	color: #005BAC;
	line-height: 1;
}

.cover__wrapper-01 {
	position: absolute;
	bottom: 16%;
	left: 4.3%
}


/* ボタン
------------------------------------------ */
.button-77CB33 {
	display: block;
	border-radius: 2.4rem;
	width: 24.9rem;
	height: 4.8rem;
	background-color: #77CB33;
	text-align: center;
	position: relative;
	padding-top: 1rem;
	font-size: 1.6rem;
	color: #fff;
	font-family: "Noto Sans JP", serif;
	font-weight: 700;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.2rem;
}

.button-F6AA00 {
	display: block;
	border-radius: 2.4rem;
	width: 24.9rem;
	height: 4.8rem;
	background-color: #F6AA00;
	text-align: center;
	position: relative;
	padding-top: 1rem;
	font-size: 1.6rem;
	color: #fff;
	font-family: "Noto Sans JP", serif;
	font-weight: 700;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.2rem;
}

.button-3AC8AD {
	display: block;
	border-radius: 2.4rem;
	width: 24.9rem;
	height: 4.8rem;
	background-color: #3AC8AD;
	text-align: center;
	position: relative;
	padding-top: 1rem;
	font-size: 1.6rem;
	color: #fff;
	font-family: "Noto Sans JP", serif;
	font-weight: 700;
	margin-left: auto;
	margin-right: auto;
}

/*入学説明会に申し込むボタン*/
.apply__button {
	background-color: #FFEDED;
	padding-right: 3.6rem;
	padding-left: 3.6rem;
	padding-top: 3.8rem;
	padding-bottom: 2.8rem;
}

.apply__text {
	text-align: center;
	font-size: 1.6rem;
	color: #333;
	font-family: "Noto Sans JP", serif;
	font-weight: 400;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.1rem;
}

.apply__button-text {
	display: block;
	border-radius: 3rem;
	width: 30.4rem;
	height: 6.7rem;
	background: linear-gradient(to right, #0573E1, #53A2F0);
	text-align: center;
	position: relative;
	padding-top: 1.6rem;
	font-size: 2rem;
	color: #fff;
	font-family: "Noto Sans JP", serif;
	font-weight: 700;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.2rem;
}

/*選ばれる３つの理由
------------------------------------------ */
.reason__container {
	padding-right: 1.6rem;
	padding-left: 1.6rem;
	margin-bottom: 3.4rem;
}

.reason__row-01 {
	margin-bottom: 3.4rem;
}

.reason__row-02 {
	margin-bottom: 3.4rem;
}


.reason__title-01 {
	font-family: "Noto Sans JP", serif;
	font-weight: 700;
	font-size: 2.8rem;
	color: #333;
	text-align: center;
	margin-top: 2.9rem;
	padding-bottom: 1.9rem;
}

.reason__title-02 {
	font-family: "Poppins", serif;
	font-weight: 700;
	font-size: 4rem;
	color: #F11F8D;
	line-height: 1;
}

.reason__point {
	font-family: "Poppins", serif;
	font-weight: 900;
	font-style: italic;
	font-size: 2.4rem;
	color: #F11F8D;
	line-height: 1;
	margin-top: 1.6rem;
	margin-bottom: 0.4rem;
}

.reason__space {
	font-family: "Poppins", serif;
	font-weight: 900;
	font-style: italic;
	font-size: 3.2rem;
	color: #F11F8D;
}

.reason__number {
	font-family: "Poppins", serif;
	font-weight: 900;
	font-style: italic;
	font-size: 3.6rem;
	color: #F11F8D;
}

.reason__paragraph-01 {
	font-family: "Noto Sans JP", serif;
	font-weight: 700;
	font-size: 2rem;
	color: #333;
	margin-bottom: 0.6rem;

}

.reason__paragraph-02 {
	font-family: "Noto Sans JP", serif;
	font-weight: 700;
	font-size: 2rem;
	color: #333;
	line-height: 1.4;
	margin-top: .8rem;
	margin-bottom: 1.1rem
}


.reason__paragraph-03 {
	font-family: "Noto Sans JP", serif;
	font-weight: 700;
	font-size: 2rem;
	color: #333;
	line-height: 1.4;
	margin-top: .8rem;
	margin-bottom: 1.1rem
}


.reason__text-01 {
	font-family: "Noto Sans JP", serif;
	font-weight: 400;
	font-size: 1.6rem;
	color: #333;
}

.reason__text-02 {
	font-family: "Noto Sans JP", serif;
	font-weight: 400;
	font-size: 1.6rem;
	color: #333;
}

.reason__text-03 {
	font-family: "Noto Sans JP", serif;
	font-weight: 400;
	font-size: 1.6rem;
	color: #333;
}

.reason__row-01>picture {
	border-radius: 0.1rem;
}

/*コース・目的
------------------------------------------ */
.course-00 {
	padding-top: 3.1rem;
	margin-bottom: 6.3rem;
}

.course__title {
	font-family: "Noto Sans JP", serif;
	font-weight: 700;
	font-size: 2.8rem;
	color: #333;
	text-align: center;
	margin-top: 2.9rem;
	padding-bottom: 1.7rem;
	margin-left: 1.6rem;
}

.course__tab-content-item--text {
	display: flex;
	flex-direction: row;
	justify-content: start;
	column-gap: 0.8rem;
}

.tab-content {
	background-color: #F2F9FF;
	padding-right: 1.6rem;
	padding-left: 1.6rem;
	padding-top: 2.8rem;
	padding-bottom: 2.7rem;
}

.course__tab-content-item--text-detail {
	font-family: "Noto Sans JP", serif;
	font-weight: 700;
	font-size: 2rem;
	color: #333;
}

.course__tab-content-item>picture>img {
	margin-bottom: 1rem;
}

.course__tab-content-item {
	margin-bottom: 2.4rem;
}

/* タブナビゲーション */

.st>.tab-content {
	height: auto !important;
}

.nav__text {
	font-family: "Noto Sans JP", serif;
	font-weight: 700;
	font-size: 1.8rem;
}

.st-theme-basic {
	border: none;
}

.st>.tab-content>.tab-pane {
	padding-left: 0rem !important;
	padding-right: 0rem !important;
	padding-top: 0rem !important;
	padding-bottom: 0rem !important;
}

.tab.st>.nav {
	column-gap: 1.4rem;
	flex-direction: row !important;
	padding-left: 1.6rem;
	padding-right: 1.6rem;
}

@media (min-width: 768px) {
	.tab.st>.nav {
		column-gap: 1.5rem;
		flex-direction: row !important;
	}
}

.tab.st-theme-basic>.nav {
	box-shadow: none;
}

.tab.st-theme-basic>.nav .nav-link {
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
	line-height: 1;
	background-color: #F0F0F0;
	color: #929292;
	border-top-left-radius: 1.2rem;
	border-top-right-radius: 1.2rem;
}

@media (min-width: 768px) {
	.tab.st-theme-basic>.nav .nav-link {
		padding-top: 1.45rem;
		padding-bottom: 1.875rem;
		font-size: 1.625rem;
	}
}

/* アクティブ状態 */
.tab.st-theme-basic>.nav .nav-link.active {
	color: #333 !important;
	background-color: #F2F9FF;
}

.tab.st-theme-basic>.nav .nav-link.active::after {
	background-color: unset !important;
}




/* タブコンテンツ */
.tab__content {
	text-align: center;
	background-color: #ffedcc;
	border-radius: 0 0 1.25rem 1.25rem;
}

@media (min-width: 768px) {
	.tab__content {
		text-align: center;
		background-color: #ffedcc;
		border-radius: 0rem 0rem 1.25rem 1.25rem;
	}
}

/*費用
------------------------------------------ */
.cost-00 {
	padding-top: 3.2rem;
}

.cost__container {
	padding-right: 1.6rem;
	padding-left: 1.6rem;
	margin-bottom: 6.2rem;
}

.cost__title {
	font-family: "Noto Sans JP", serif;
	font-weight: 700;
	font-size: 2.8rem;
	color: #333;
	text-align: center;
	margin-top: 2.9rem;
	padding-bottom: 1.7rem;
	margin-left: 1.6rem;
}

.cost__table {
	border: 0.3rem solid #ccc;
	border-collapse: collapse;
}

th {
	background-color: #F5F5F5;
}

td {
	border: 0.1rem solid #ccc;
}

.cost__table--head-quantity {
	font-family: "Noto Sans JP", serif;
	font-weight: 400;
	font-size: 1.6rem;
	color: #333;
	width: 24%;
}

.cost__table--head-price {
	font-family: "Noto Sans JP", serif;
	font-weight: 400;
	font-size: 1.6rem;
	color: #333;
	width: 46%;
	height: 6.4rem;
	padding-right: 1.4rem;
}

.cost__table--quantity {
	font-family: "Noto Sans JP", serif;
	font-weight: 400;
	font-size: 1.6rem;
	color: #333;
	text-align: center;
}

.cost__table--price {
	font-family: "Poppins", serif;
	font-weight: 700;
	font-size: 2.8rem;
	color: #F23397;
	height: 6.34rem;
	padding-left: 5.2rem;
	padding-top: 0.9rem;
}


.cost__table--price-01 {
	font-family: "Poppins", serif;
	font-weight: 700;
	font-size: 2.8rem;
	color: #F23397;
	height: 6.3rem;
	padding-left: 4.7rem;
	padding-top: 0.9rem;
}

.cost__table--price-02 {
	font-family: "Poppins", serif;
	font-weight: 700;
	font-size: 2.8rem;
	color: #F23397;
	height: 6.1rem;
	padding-left: 6.2rem;
	padding-top: 0.9rem;
}

.cost__table--price-unit {
	font-family: "Noto Sans JP", serif;
	font-weight: 500;
	font-size: 1.6rem;
	color: #F23397;
}

/*よくあるご質問、教室検索
------------------------------------------ */
.question {
	position: relative;
}

.question__text {
	display: flex;
	flex-direction: row;
	row-gap: 0.4375rem;
	position: absolute;
	bottom: 39.1%;
	left: 4.3%;
	color: #fff;
	font-family: "Noto Sans JP", serif;
	font-weight: 700;
	font-size: 2.2rem;
}

.search {
	position: relative;
}

.search__text {
	display: flex;
	flex-direction: row;
	row-gap: 0.4375rem;
	position: absolute;
	bottom: 39.1%;
	left: 4.3%;
	color: #fff;
	font-family: "Noto Sans JP", serif;
	font-weight: 700;
	font-size: 2.2rem;
}

/*フッター
------------------------------------------ */
.footer {
	padding-top: 3.1rem;
	text-align: center;
	padding-left: 1.5rem;
	background-color: #ddd;
	padding-bottom: 2.9rem;
}

.footer__copyright {
	font-family: "Poppins", serif;
	font-weight: 400;
	font-size: 1.3rem;
	color: #333;
	text-align: center;

}